.btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--light-text);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}
.btn-primary:disabled {
  background-color: var(--primary-disabled);
}
.btn-glass {
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-glass:hover {
  background-color: var(--primary-glass-hover);
}
.btn-accent {
  color: var(--light-text);
  background-color: var(--accent);
}
.btn-accent:hover {
  background-color: var(--accent-hover);
}
.btn-icon {
  padding: 0.75rem 1rem;
}
.btn-icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-danger {
  background-color: var(--error);
  color: var(--light-text);
}
.btn-danger:hover {
  background-color: var(--error-hover);
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
