:root {
  /* general */

  --primary: #85b33c;
  --primary-container: #f6fcee;
  --primary-container-high: #eef9dd;
  --background: #f4fff8;
  --accent: #fb6107;
  --text: #262626;
  --container-text: #49454f;
  --light-text: #fff;
  --positive-review: #daf1dc;
  --neutral-review: #e6e6e6;
  --negative-review: #f5d6d6;
  --outline: #cbcfc4;

  /* state */

  --primary-hover: #9cc35d;
  --primary-glass-hover: #eef9dd;
  --accent-hover: #fe8640;
}
